language: python
install:
    - pip install -r requirements.txt
branches:
    only:
        - master
script: coverage run --source=politikon,events,accounts manage.py test
after_success:
    - coverage report --omit=*/migrations/*
    - coveralls
