# Deployment and work

Django==1.9.7
psycopg2
path.py==2.4.1
ipdb
ipython

# Deployment
gunicorn==19.3.0

# tests
mock
freezegun
factory_boy
coveralls
flake8

djangorestframework

# Admin skin
django-grappelli

# Compresses linked and inline JavaScript or CSS into a single cached file.
django-compressor==1.5

jsmin

# oauth2
# -e git+https://github.com/jgorset/fandjango.git#egg=fandjango
# fandjango
python-openid

-e git+https://github.com/tgrf/django-constance.git#egg=django-constance
django-picklefield
django-celery-with-redis==3.0
django-celery==3.1.17
dj-database-url==0.2.1
pylibmc
django-pylibmc-sasl==0.2.4
hiredis

# dates
python-dateutil==1.5

Pillow==3.2.0
requests==2.0.0
jsonfield

unidecode

django-sslify>=0.2

# connecting with FB, TT
python-social-auth

# tags
django-taggit


# Heroku addons


# redis
django-redis-cache==1.6.3
# -e git+https://github.com/martinrusev/django-redis-sessions.git#egg=django-redis-sessions
django-redis-sessions

# mailgun
django-mailgun==0.8.0

# analytics
newrelic


# AWS


# For distant static files
django-assets
boto
django-storages==1.1.8
