Django==1.8.2
-e git+https://github.com/tkopczuk/django-smartsettings.git@171e305a01f4eff01c3081b44993a6ce877ea70b#egg=smartsettings
gunicorn==19.3.0
path.py==2.4.1
djangorestframework
newrelic==2.38.0.31

#coffin
django-jinja==1.4.1
jinja2

django-compressor==1.5

django-assets
jsmin

#For distant static files
django-storages==1.1.8

oauth2
#-e git+https://github.com/jgorset/fandjango.git#egg=fandjango
fandjango
python-openid

#-e git+https://github.com/martinrusev/django-redis-sessions.git#egg=django-redis-sessions
django-redis-sessions
django-constance==1.0.1
django-picklefield
django-celery-with-redis==3.0
dj-database-url==0.2.1
pylibmc
django-pylibmc-sasl==0.2.4
psycopg2
hiredis

python-dateutil==1.5
pytz

Pillow
requests==2.0.0
jsonfield

unidecode

django-sslify>=0.2
python-social-auth
