{% extends "base.html" %}

{% load display static i18n %}
{% load user %}

{% block js_scripts %}
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/charts/ranking.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}

<section id="userinfo" class="hotbets prefooter-margin body-margin">
    <div class="zakladki-content">
        <article class="active" id="druzyna">
          {% for team in group %}
          {% team_rank team team.get_elo "dryzyna" team.avg_weekly_result forloop.counter %}
          {% endfor %}
        </article>
    </div>
</section>

<section id="userinfo" class="hotbets prefooter-margin body-margin">
    <ul class="tabs lewa">
        <li class="active"><a href="#czlonkowie">{% trans "Członkowie grupy" %}</a></li>
    </ul>
    <div class="clr"></div>
    <div class="zakladki-content">
        <article class="active" id="czlonkowie">
            {% for user in group_users %}
            {% user_rank user "7dni" user.weekly_result forloop.counter %}
            {% endfor %}
        </article>
    </div>
</section>

{% endblock %}
