{% extends "base.html" %}

{% load display %}
{% load static %}
{% load user %}

{% block js_scripts %}
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/charts/ranking.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<script type="text/javascript">
    $(function () {
        rankingChart({{ json_data|safe }})
    });
</script>

{% userstats user overall_rank month_rank week_rank %}

<section id="ranking">
    <div class="rankingchart">
        <canvas id="ranking-canvas" height="50"></canvas>
    </div>
</section>
{% endif %}

<section id="userinfo" class="hotbets prefooter-margin body-margin">
    <ul class="tabs lewa">
        <li class="active"><a href="#7dni">Ranking 7-dniowy</a></li>
        <li><a href="#miesiac">Ranking miesięczny</a></li>
        <li><a href="#calosc">Ranking całościowy</a></li>
    </ul>
    <div class="clr"></div>
    <div class="zakladki-content">
        <article id="7dni">
            {% for user in best_weekly %}
            {% user_rank user "7dni" user.weekly_result forloop.counter %}
            {% endfor %}
{#            <a href="#" id="loadmore" class="7dni-more-link"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>

        <article id="miesiac">
            {% for user in best_monthly %}
            {% user_rank user "miesiac" user.monthly_result forloop.counter %}
            {% endfor %}
{#            <a href="#" id="loadmore" class="miesiac-more-link"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>

        <article id="calosc">
            {% for user in object_list %}
            {% user_rank user "calosc" None forloop.counter %}
            {% endfor %}
{#            <a href="#" id="loadmore" class="calosc-more-link"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>
    </div>
</section>

{% endblock %}
