{% extends "base.html" %}

{% load display %}

{% block content %}

	<section id="userinfo" class="hotbets prefooter-margin body-margin">
		<ul class="tabs lewa">
			<li class="active"><a href="#7dni">Ranking 7-dniowy</a></li>
			<li><a href="#miesiac">Ranking miesięczny</a></li>
			<li><a href="#calosc">Ranking całościowy</a></li>
		</ul>
		<div class="clr"></div>
		<div class="zakladki-content">
			<article id="7dni">
                {% for user in object_list %}
                    <a href="#"><div class="ranking-event">
                        <div class="lewa{% if user.is_vip %} uservip{% endif %}">
                            <p class="rank">{{ object_list.number }}</p>
                            <img src="{{ user.get_avatar_url }}"/>
                            <p class="nickname">{{ user.username }}</p>
                        </div>
                        <div class="prawa">
                            <p class="rank-wallet">{{ user.portfolio_value }}</p>
                            <p class="rank-freereputy">{{ user.unused_reput }}</p>
                            <p class="rank-reputation">{{ user.reputation }}</p>
                        </div>
                    </div></a>
                {% endfor %}

				<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>
			</article>

			<article id="miesiac">




				<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>
			</article>

			<article id="calosc">




				<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>
			</article>
		</div>
	</section>

{% endblock %}
