{% extends "base.html" %}

{% load display %}

{% block content %}

	<section id="settings-profile" class="body-margin">
		<a href=#"><figure class="profile-avatar lewa"><figcaption><span>zmień avatar</span></figcaption><img src="{{ user.get_avatar_url }}"/></figure></a>
		<div class="current-settings lewa">
			<div class="astable">
				<h2>{{ user.name }}</h2>
				<p><span class="what">Użytkownik:</span> <span class="value">{{ user.username }}</span></p>
				<p><span class="what">Dołączył do gry:</span> <span class="value">{{ user.created_date }}</span></p>
			</div>
			<div class="astable">
				<p><span class="what">Adres e-mail:</span> <span class="value"><a href="email:{{ user.email }}">{{ user.email }}</a></span></p>
				<p><span class="what">Połączone konta:</span> <span class="value">
                    {% if user.twitter_user %}
                        <a href="{{ user.get_twitter_url }}"><span class="att-tt">{{ user.twitter_user }}</span></a>
                    {% endif %}
                    {% if user.facebook_user %}
                        <a href="{{ user.get_facebook_url }}"><span class="att-fb">{{ user.facebook_user }}</span></a>
                    {% endif %}
				</span></p>
			</div>
		</div>
	</section>
	
	<section id="userinfo" class="hotbets">
		<ul class="tabs lewa">
			<li><a href="#profil">Twój profil</a></li>
			<li><a href="#haslo">E-mail i hasło</a></li>
		</ul>
		<div class="clr"></div>
		<div class="zakladki-content">
			<article id="profil">
				<form data-parsley-validate class="settings-form">
					<div class="lewa">
						<span>Wyświetlane imię i nazwisko:</span>
						<input type="text" class="jednalinia" id="displayname" value="{{ user.name }}" data-parsley-minlength="3" data-parsley-trigger="focusout" required>
						<span>Opis użytkownika:</span>
						<textarea class="wielelinii" id="description" data-parsley-minlength="10" data-parsley-trigger="focusout">{{ user.description }}</textarea>
					</div>
					<div class="prawa">
						<span>Twoja strona www:</span>
						<input type="url" class="jednalinia" id="website" value="{{ user.web_site }}" data-parsley-type="url" data-parsley-trigger="focusout">
						<span>Połączone konta:</span>
                        {% if user.twitter_user %}
                            <div class="social-connect connection"><div class="connect-tt">{{ user.twitter_user }}</div><a href="{{ user.get_twitter_disconnect_url }}"><div class="connectme">Rozłącz z Twitterem</div></a></div>
                        {% endif %}
                        {% if user.facebook_user %}
                            <div class="social-connect connection"><div class="connect-fb"></div>{{ user.facebook_user }} <a href="{{ user.get_twitter_disconnect_url }}"><div class="connectme">Rozłącz z Facebookiem</div></a></div>
                        {% endif %}
					</div>
				</form>
			</article>
			
			<article id="haslo">
				<form data-parsley-validate class="settings-form">
					<div class="lewa">
						<span>Zmień adres e-mail:</span>
						<input type="email" class="jednalinia" id="newemail" value="{{ user.email }}" placeholder="Twój adres e-mail" data-parsley-trigger="focusout" required>
						<input type="email" class="jednalinia" id="checkmail" placeholder="wpisz ponownie adres e-mail" data-parsley-equalto="#newemail" data-parsley-trigger="focusout" reqired>
					</div>
					<div class="prawa">
						<span>Zmień swoje hasło:</span>
						<input type="password" class="jednalinia" id="oldpass" placeholder="wpisz obecne hasło" data-parsley-minlength="4" data-parsley-trigger="focusout">
							
						<input type="password" class="jednalinia" id="newpass" placeholder="wpisz nowe hasło" data-parsley-minlength="4" data-parsley-trigger="focusout">
						<input type="password" class="jednalinia" id="checkpass" placeholder="wpisz ponownie nowe hasło" data-parsley-minlength="4" data-parsley-equalto="#newpass" data-parsley-trigger="focusout" reqired>
					</div>
				</form>
			</article>
		</div>
	</section>
	
	<section id="settings-submit" class="prefooter-margin"><a href="#" id="loadmore"><div class="btn astable">Zapisz zmiany</div></a></section>

{% endblock %}
