{% extends "base.html" %}

{% load display static i18n %}
{% load user %}

{% block js_scripts %}
<script type="text/javascript" src="{% static 'js/intro/scenario-profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/profile.js' %}"></script>

<script type="text/javascript">
$(function () {
    profileChart({{ json_data|safe }})
});
</script>
{% endblock %}

{% block content %}
<section id="profile">
    <div class="profilechart">
        <canvas id="profile-canvas" height="70"></canvas>
    </div>
</section>
<section id="profileuser" data-user_id="{{ object.id }}">
    <div class="profile-avatar{% if object.is_vip %} uservip{% endif %}"><div class="image" style="background-image: url({{ object.get_avatar_url }});"/></div></div>
    <div class="nickname"><h1>{{ object.name }}{% if object.is_vip %}<span class="nickvip">VIP</span>{% endif %}</h1></div>
</section>

{% userstats object overall_rank month_rank week_rank %}

<section id="bet-desc" class="astable">
    <div class="lewa">
        <p>{{ object.description }}</p>
    </div>
    <div class="prawa user-social">
        {% if object.twitter_user %}
        <div class="sm-tt">
            <a href="https://twitter.com/{{ object.twitter_user }}">
                <div class="sm-bg tt"></div>
                <span>@{{ object.twitter_user }}</span>
            </a>
        </div>
        {% endif %}

{#        {% if object.facebook_user %}#}
{#        <div class="sm-fb">#}
{#            <a href="https://www.facebook.com/{{ object.facebook_user }}">#}
{#                <div class="sm-bg fb"></div>#}
{#                <span>{{ object.name }}</span>#}
{#            </a>#}
{#        </div>#}
{#        {% endif %}#}
    </div>
</section>

{% block userinfo %}
<section id="userinfo" class="hotbets prefooter-margin">
    <ul class="tabs lewa">
        <li class="active"><a href="#zawartoscportfela">{% trans 'Zawartość portfela' %}</a></li>
        <li><a href="#powiadomieniaowynikach">{% trans 'Powiadomienia o wynikach' %}</a></li>
        <li><a href="#historiatransakcji">{% trans 'Historia transakcji' %}</a></li>
    </ul>
    <div class="clr"></div>
    <div class="zakladki-content">
        {% user_portfolio %}
        {% user_notifications %}
        {% user_transactions %}
    </div>
</section>
{% endblock %}

{% endblock %}
