{% extends "base.html" %}

{% load display %}

{% block content %}

	<section id="profile">
		<div class="profilechart">
			<canvas id="profile-canvas" height="70"></canvas>
		</div>
	</section>
	<section id="profileuser">
		<div class="profile-avatar{% if user.is_vip %} uservip{% endif %}"><img src="{{ object.get_avatar_url }}"/></div>
		<div class="nickname"><h1>{{ object.name }}{% if object.is_vip %}<span class="nickvip">VIP</span>{% endif %}</h1></div>
	</section>

	<section id="userstats">
		<div class="container profile-stats">
			<div class="wallet">
				<div class="icon"></div>
				<p class="lewa"><span>wartość portfela</span><br/><span class="darkorange">{{ object.portfolio_value }}</span></p>
			</div>
			<div class="freereput">
				<div class="icon"></div>
				<p class="lewa"><span>wolne reputy</span><br/><span class="changeYES">{{ object.unused_reput }}</span></p>
			</div>
			<div class="reputation">
				<div class="icon"></div>
				<p class="lewa"><span>reputacja</span><br/><span>{{ object.reputation }}</span></p>
			</div>
			<div class="position">
				<div class="icon"></div>
				<p class="lewa"><span>ranking</span><br/><span class="grey">986</span></p>
				<p class="lewa"><span>miesiąc</span><br/><span class="grey">568</span></p>
				<p class="lewa"><span>tydzień</span><br/><span class="grey">12</span></p>
			</div>
		</div>
	</section>

	<section id="bet-desc" class="astable">
		<div class="lewa">
			<p>{{ object.description }}</p>
		</div>
		<div class="prawa user-social">
            {% if object.twitter_user %}
                <div class="sm-tt">
                    <a href="#">
                    <div class="sm-bg tt"></div>
                    <span>{{ object.twitter_user }}</span>
                    </a>
                </div>
            {% endif %}

            {% if object.facebook_user %}
                <div class="sm-fb">
                    <a href="#">
                    <div class="sm-bg fb"></div>
                    <span>{{ object.facebook_user }}</span>
                    </a>
                </div>
            {% endif %}
		</div>
	</section>

	<section id="userinfo" class="hotbets prefooter-margin">
		<ul class="tabs lewa">
			<li><a href="#zawartoscportfela">Zawartość portfela</a></li>
			<li><a href="#powiadomieniaowynikach">Powiadomienia o wynikach</a></li>
			<li><a href="#historiatransakcji">Historia transakcji</a></li>
		</ul>
		<div class="clr"></div>
		<div class="zakladki-content">
			<article id="zawartoscportfela">
                {% for bet in object.bets.get_in_progress %}
                    <div class="betinwallet betresult new"><a href="#">
                        <img src="{{ STATIC_URL }}{{ bet.event.small_image }}"/>
                        <div class="status">
                            <h3 class="skroc">{{ bet.event }}</h3>
                            <p><span class="betdetails">Zakład:</span> <span class="changeYES">{{ bet.outcome }}</span> {{ bet.has }} x <span class="reputy-small"></span> {{ bet.bought_avg_price }} <span class="why">(aktualna cena: {{ bet.event.current_buy_for_price }})</span></p>
                            <p class="detailed-status"><span class="invested">{{ bet.get_invested }}</span> <span class="maywin">{{ bet.get_won }}</span> <span class="inwallet">{{ bet.get_wallet_change }}</span></p>
                        </div>
                    </a></div>
                {% endfor %}
			</article>

			<article id="powiadomieniaowynikach">
                {% for bet in object.bets.get_finished %}
                    <a class="a-betresult" data-bet_id="{{ bet.id }}" href="{{ bet.event.get_relative_url }}"><div class="betresult new">
                        {% if bet.event.small_image %}
                            <img src="{{ bet.event.small_image.url }}" style="width: 128px; height: 100px;"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/bet-plain.jpg"/>
                        {% endif %}
                        <div class="status">
                            <h3 class="skroc">{{ bet.event }}</h3>
                            <p><span class="betdetails">Zakład:</span> <span class="{% if bet.outcome %}changeYES{% else %}changeNO{% endif %}">{% if bet.outcome %}TAK{% else %}NIE{% endif %}</span> {{ bet.has }} x <span class="reputy-small"></span> {{ bet.bought_avg_price }}</p>
                            <p><span class="betdetails">Wynik:</span> <span class="{% if bet.event.outcome == 3 %}changeYES{% elif bet.event.outcome == 4 %}changeNO{% endif %}">{% if bet.event.outcome == 2 %}ANULOWANE{% elif bet.event.outcome == 3 %}TAK{% elif bet.event.outcome == 4 %}NIE{% endif %}</span></p>
                        </div>
                        <div class="status-change">
                            zmiana portfela:
                            <div class="{% if bet.is_won %}changeYES{% else %}changeNO{% endif %}">{{ bet.get_wallet_change }}</div>
                            <p><span class="invested">{{ bet.get_invested }}</span> <span class="won">{{ bet.get_won }}</span></p>
                        </div>
                    </div></a>
                {% endfor %}
			</article>

			<article id="historiatransakcji">
                {% for transaction in object.transactions.all %}
                    <div class="history-event">
                        <span class="skroc lewa">{{ transaction.event.title }}</span>
                        <div class="prawa">
                            <span class="history-action">{{ transaction.type }}</span>
                            <span class="reputy-change"><span class="reputy-small"></span>{{ transaction.price }}</span>
                            <span class="event-date">{{ transaction.end_date }}</span>
                        </div>
                    </div>
                {% endfor %}

				<a href="#" id="loadmore"><div class="btn astable">Pokaż starsze transakcje</div></a>
			</article>
		</div>
	</section>

{% endblock %}
