{% load format %}
{% load user %}

<a href="{{ user.get_absolute_url }}" class="{{ item_class }}-item">
    <div class="ranking-event{% if user == request.user %} ranking-you{% endif %}">
        <div class="lewa{% if user.is_vip %} uservip{% endif %}">
            <p class="rank">{{ counter }}</p>
            <div class="image" style="background-image: url({{ user.get_avatar_url }})"></div>
            <p class="nickname">{{ user.name }}{% if user.team %} <small>({{ user.team }})</small>{% endif %}</p>
        </div>
        <div class="prawa">
            <p class="rank-wallet">{{ user.portfolio_value|formatted }}</p>
            <p class="rank-freereputy">{{ user.total_cash|formatted }}</p>
            {% if showProfit %}
            <p class="rank-reputation">
            {% if profit > 0 %}<span style="color: green;">&#9650;</span>{% endif %}
            {% if profit < 0 %}<span style="color: red;">&#9660;</span>{% endif %}
            {% if profit == 0 %}&#9658;{% endif %}
            {{ profit|absolute }}%
            </p>
            {% else %}
            <p class="rank-reputation">{{ user.reputation|formatted }}%
            {% if profit %}<br/><span class="small">({{ profit|formatted:"True" }}%)</span>{% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</a>
