.featured-events-box {
    width: 600px;
    margin: 15px 15px 15px 15px;

    .event {
        display: inline-block;
        width: 260px;
        height: 260px;

        margin: 5px 10px 5px 10px;
    }
}