{% load display format i18n %}
<div id="login" class="modal-opened">
    <div class="header">{% trans "Play Politikon!" %} <span class="prawa login-close"></span></div>

    <aside class="rejestracja">
        <a href="{% url 'social:begin' 'twitter' %}"><div class="twitter-login"><span>{% trans "Sign in with" %} {% trans "Twitter" %}</span></div></a>
        <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook-login"><span>{% trans "Sign in with" %} {% trans "Facebook" %}</span></div></a>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><div class="googleplus-login"><span>{% trans "Sign in with" %} {% trans "Google+" %}</span></div></a>
        <p>{% trans "You can also sign up, using" %} <a href="#" class="show-rejestracjaemail">{% trans "e-mail address" %}</a></p>
        <div class="other"><p>{% trans "Have an account?" %} <a href="#" class="show-logowanie">{% trans "Log in here" %}</a>.</p></div>
    </aside>

    <aside class="logowanie asblock opacity">
        <a href="{% url 'social:begin' 'twitter' %}"><div class="twitter-login"><span>{% trans "Log in with" %} {% trans "Twitter" %}</span></div></a>
        <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook-login"><span>{% trans "Log in with" %} {% trans "Facebook" %}</span></div></a>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><div class="googleplus-login"><span>{% trans "Log in with" %} {% trans "Google+" %}</span></div></a>
        <p class="or"><span>lub zaloguj się przez e-mail</span></p>
        <form id="form-login" method="post" action="{% url 'accounts:login' %}" data-parsley-validate >
            {% csrf_token %}
            <input id="login-username" name="username" type="text" class="jednalinia" placeholder="Nazwa użytkownika" data-parsley-minlength="1" data-parsley-trigger="focusout" required>
            <input id="login-password" name="password" type="password" class="jednalinia" placeholder="Hasło" data-parsley-trigger="focusout" data-parsley-minlength="1" required>
            <input id="next-to-redirect" name="next" type="hidden" >
            <input id="send-login-form" type="submit" class="przycisk" value="Zaloguj się">
        </form>
{#        <p class="tip"><a href="#" class="show-przypomnienie">Zapomniałeś hasła?</a></p>#}
        <div class="other"><p>{% trans "Don't have an account yet?" %} <a href="#" class="show-rejestracja">{% trans "Join the game!" %}</a></p></div>
    </aside>

    <aside class="przypomnienie">
        <h2>Zmiana zapomnianego hasła</h2>
        <p class="spaceafter">Nie pamiętasz hasła? Nic nie szkodzi! Stworzymy Ci nowe! Wpisz poniżej swój adres e-mail, lub nazwę użytkownika użyte podczas rejestracji.</p>
        <form data-parsley-validate>
            <input type="text" class="jednalinia" id="remind" placeholder="Nazwa użytkownika" data-parsley-minlength="1" data-parsley-trigger="focusout" required>

            <input type="submit" class="przycisk" value="Poproś o nowe hasło">

        </form>
        <p class="tip">&nbsp;</p>
        <div class="other"><p>Przypomniałeś sobie? <a href="#" class="show-logowanie">Zaloguj się tutaj</a>.</p></div>
    </aside>

    <aside class="rejestracjaemail">
        <h2 class="spaceafter">{% trans "Join us with e-mail" %}</h2>
        <form id="form-registration" data-parsley-validate>
            {% csrf_token %}
            <input type="text" name="username" class="jednalinia" id="username" placeholder="Nazwa użytkownika" data-parsley-minlength="3" data-parsley-trigger="focusout" required>
            <input type="password" name="password" class="jednalinia" id="password" placeholder="Hasło" data-parsley-trigger="focusout" data-parsley-minlength="4" required>
            <input type="email" name="email" class="jednalinia" id="email" placeholder="adres e-mail" data-parsley-trigger="focusout" required>
            <input type="checkemail" name="checkemail" class="jednalinia" id="checkemail" placeholder="powtórz adres e-mail" data-parsley-equalto="#email" data-parsley-trigger="focusout" required>
            <p class="rules"><input type="checkbox" name="regulamin" id="regulamin" value="regulamin" data-parsley-mincheck="1" required/> {% trans "I have acknowledged" %} <a href="/static/uploads/documents/Regulamin_serwisu_Politikon.pdf">{% trans "Terms & conditions" %}</a> {% trans "and" %} <a href="/static/uploads/documents/Polityka_prywatnosci.pdf">{% trans "Privacy policy" %}</a></p>

            <input id="form-registration-submit" type="submit" class="przycisk" value="Zarejestruj się">

        </form>
        <div class="other"><p>{% trans "Have Twitter or Facebook?" %} <a href="#" class="show-rejestracja">{% trans "Join us quicker" %}</a>.</p></div>
    </aside>

    <aside class="rejestracjaemail-done">
        <h2 class="spaceafter">{% trans "Your account is inactive yet. For adderss email provided during registration we will send you information about activating your account. If you haven't receive such email please check SPAM directory. In case of any troubles, please contact us using contact form in \"contact\" section" %}</h2>
        <div class="other"><p>{% trans "Come back soon and play!" %}.</p></div>
    </aside>
</div>
