{% load display format i18n %}
<div id="login" class="modal-opened">
    <div class="header">{% trans 'Graj w Politikon!' %} <span class="prawa login-close"></span></div>

    <aside class="rejestracja">
{#        <a href="{% url 'social:begin' 'twitter' %}"><div class="twitter-login"><span>Zarejestruj się przez Twittera</span></div></a>#}
{#        <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook-login"><span>Zarejestruj się przez Facebooka</span></div></a>#}
        <p>{% trans 'Możesz także zarejestrować się używając' %} <a href="#" class="show-rejestracjaemail">{% trans 'adresu e-mail' %}</a></p>
        <div class="other"><p>{% trans 'Masz już konto?' %} <a href="#" class="show-logowanie">{% trans 'Zaloguj się tutaj' %}</a>.</p></div>
    </aside>

    <aside class="logowanie asblock opacity">
        <a href="{% url 'social:begin' 'twitter' %}"><div class="twitter-login"><span>{% trans 'Zaloguj się przez Twittera' %}</span></div></a>
        <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook-login"><span>{% trans 'Zaloguj się przez Facebooka' %}</span></div></a>
{#        <p class="or"><span>lub zaloguj się przez e-mail</span></p>#}
{#        <form data-parsley-validate>#}
{#            <input type="text" class="jednalinia" id="username" placeholder="Nazwa użytkownika" data-parsley-minlength="3" data-parsley-trigger="focusout" required>#}
{#            <input type="password" class="jednalinia" id="pass" placeholder="Hasło" data-parsley-trigger="focusout" data-parsley-minlength="4" required>#}
{#            <input type="submit" class="przycisk" value="Zaloguj się">#}
{#            </form>#}
{#        <p class="tip"><a href="#" class="show-przypomnienie">Zapomniałeś hasła?</a></p>#}
        <div class="other"><p>{% trans 'Nie masz jeszcze konta?' %} <a href="#" class="show-rejestracja">{% trans 'Zarejestruj się!' %}</a></p></div>
    </aside>

    <aside class="przypomnienie">
        <h2>Zmiana zapomnianego hasła</h2>
        <p class="spaceafter">Nie pamiętasz hasła? Nic nie szkodzi! Stworzymy Ci nowe! Wpisz poniżej swój adres e-mail, lub nazwę użytkownika użyte podczas rejestracji.</p>
        <form data-parsley-validate>
            <input type="text" class="jednalinia" id="remind" placeholder="Nazwa użytkownika" data-parsley-minlength="3" data-parsley-trigger="focusout" required>

            <input type="submit" class="przycisk" value="Poproś o nowe hasło">

        </form>
        <p class="tip">&nbsp;</p>
        <div class="other"><p>Przypomniałeś sobie? <a href="#" class="show-logowanie">Zaloguj się tutaj</a>.</p></div>
    </aside>

    <aside class="rejestracjaemail">
        <h2 class="spaceafter">{% trans 'Zarejestruj się przy użyciu adresu e-mail' %}</h2>
        <form data-parsley-validate>
            <input type="text" class="jednalinia" id="username" placeholder="Nazwa użytkownika" data-parsley-minlength="3" data-parsley-trigger="focusout" required>
            <input type="password" class="jednalinia" id="pass" placeholder="Hasło" data-parsley-trigger="focusout" data-parsley-minlength="4" required>
            <input type="email" class="jednalinia" id="email" placeholder="adres e-mail" data-parsley-trigger="focusout" required>
            <input type="email" class="jednalinia" id="checkemail" placeholder="powtórz adres e-mail" data-parsley-equalto="#email" data-parsley-trigger="focusout" required>
            <p class="rules"><input type="checkbox" name="regulamin" value="regulamin" data-parsley-mincheck="1" required/> {% trans 'Zapoznałem się z' %} <a href="#">{% trans 'Regulaminem' %}</a> {% trans 'i' %} <a href="#">{% trans 'Polityką Prywatności' %}</a></p>

            <input type="submit" class="przycisk" value="Zarejestruj się">

        </form>
        <div class="other"><p>{% trans 'Masz TT lub FB?' %} <a href="#" class="show-rejestracja">{% trans 'Zarejestruj się szybciej' %}</a>.</p></div>
    </aside>
</div>
