{% load i18n %}
{% if user.should_show_reset_info %}
<div id="reset-message" class="modal-opened modal-big">
    <div class="header">Reset punktów <span class="prawa login-close"></span></div>

    <aside class="asblock opacity rules">
        <p>Wprowadzamy parę zmian w Politikonie. Będą to:</p>
        <p>
           - poprawa bufora płynności (ceny zakładów będą się zmieniać mniej gwałtownie)<br/>
           - poprawa czytelności rankingów<br/>
           - i najważniejsze: koniec z brakiem reputów i niemożnością grania. Suma reputów dla każdego gracza będzie od wtorku wynosić 50 tysięcy.<br/>
        </p>
        <p>Uwaga! Przy podwyższeniu limitu reputów wyrównamy wartość portfela + wolnych punktów, ale zmianie NIE ulegną Wasze dokonane inwestycje (czyli czekające na rozstrzygnięcie zakłady).</p>
        <p>Mamy nadzieję, że dzięki tym poprawkom Politikon będzie lepiej odpowiadał Waszym potrzebom. Pamiętajcie, że cały czas jesteśmy do dyspozycji - możecie do nas pisać poprzez Facebooka albo Twittera.</p>
    </aside>
    <div class="other"><p>Ekipa Politikonu</p></div>
</div>
{% endif %}
<div id="add-event" class="modal-opened modal-big">
    <div class="header">Dodaj wydarzenie <span class="prawa login-close"></span></div>

    <aside id="add-event-content" class="asblock opacity rules">
        <form id="add-event-form" action="/api/events/event/create/" method="post" class="settings-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <span class="col-sm-2">{% trans 'Event title' %}</span>
                <div class="col-sm-10">
                    <input name="title" class="jednalinia" type="text" />
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-2">{% trans 'Small image' %}</span>
                <div class="col-sm-10">
                    <input name="small_image" type="file" />
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-2">{% trans 'Big image' %}</span>
                <div class="col-sm-10">
                    <input name="big_image" type="file" />
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-2">{% trans 'Description' %}</span>
                <div class="col-sm-10">
                    <textarea name="description" class="jednalinia"></textarea>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-2">{% trans 'Prediction end of event' %}</span>
                <div class="col-sm-10">
                    <input name="estimated_end_date" class="jednalinia" type="datetime-local" />
                </div>
            </div>
            <div class="loadmore">
                <span class="col-sm-2">&nbsp;</span>
                <button id="add-event-submit" class="btn astable" title="Send">{% trans 'Send' %}</button>
            </div>
        </form>
    </aside>
    <div class="other">&nbsp;</div>
</div>
