{% set FACEBOOK_OBJECT = "event" %}

{% extends "base.html" %}

{% block facebook_properties %}
    <meta property="og:url"    content="{{ event.get_absolute_url() }}" /> 
    <meta property="og:title"  content="{{ event.title }}" /> 
    <meta property="og:title_yes"  content="{{ event.title_fb_yes }}" /> 
    <meta property="og:title_no"  content="{{ event.title_fb_no }}" /> 
    <meta property="og:image"  content="{{ event.small_image | absolute_url_to_file }}" /> 
{% endblock %}

{% block base_script %}
    window.location.href = "http://apps.facebook.com/{{ settings.FACEBOOK_APPLICATION_NAMESPACE }}{{ event.get_relative_url() | canvas_relative_url }}";
{% endblock %}

{% block content %}
{% endblock %}
