{% extends "user_detail.html" %}

{% load display %}
{% load static %}
{% load user %}

{% block infinite_scrolling %}
<script type="text/javascript">
$(function() {
    new Waypoint.Infinite({
        element: $('#portfolio-list')[0],
        items: '.portfolio-item',
        more: '.portfolio-more-link',
        onBeforePageLoad: function() {
            $("#loadmore .btn").text("Ładowanie...")
        },
        onAfterPageLoad: function() {
            $("#loadmore .btn").text("wyświetl więcej zakładów")
            preloadImages();
            $('.skroc').dotdotdot();
            renderCharts();
        }
    });
});
</script>
{% endblock %}

{% block userinfo %}
<section id="userinfo" class="hotbets prefooter-margin">
    {% user_portfolio %}
</section>
{% endblock %}
