{% extends "base.html" %}

{% load display %}
{% load user %}

{% block introjs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/intro/scenario-rank.js"></script>
{% endblock %}

{% block content %}

<section id="userinfo" class="hotbets prefooter-margin body-margin">
    <ul class="tabs lewa">
        <li class="active"><a href="#7dni">Ranking 7-dniowy</a></li>
        <li><a href="#miesiac">Ranking miesięczny</a></li>
        <li><a href="#calosc">Ranking całościowy</a></li>
    </ul>
    <div class="clr"></div>
    <div class="zakladki-content">
        <article id="7dni">
            {% for user in best_weekly %}
            {% user_rank user user.weekly_result forloop.counter %}
            {% endfor %}
            {#<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>

        <article id="miesiac">
            {% for user in best_monthly %}
            {% user_rank user user.monthly_result forloop.counter %}
            {% endfor %}
            {#<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>

        <article id="calosc">
            {% for user in object_list %}
            {% user_rank user None forloop.counter %}
            {% endfor %}
            {#<a href="#" id="loadmore"><div class="btn astable">Pokaż dalsze pozycje</div></a>#}
        </article>
    </div>
</section>

{% endblock %}
