<a href="{{ user.get_absolute_url }}"><div class="ranking-event">
        <div class="lewa{% if user.is_vip %} uservip{% endif %}">
            <p class="rank">{{ forloop.counter }}</p>
            <img src="{{ user.get_avatar_url }}"/>
            <p class="nickname">{{ user.name }}</p>
        </div>
        <div class="prawa">
            <p class="rank-wallet">{{ user.portfolio_value_formatted }}</p>
            <p class="rank-freereputy">{{ user.total_cash_formatted }}</p>
            <p class="rank-reputation">{{ user.reputation_formatted }}</p>
        </div>
</div></a>
