{% extends "base.html" %}

{% load display %}
{% load format %}

{% block js_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/intro/scenario-profile.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/charts/profile.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
    $(function () {
        profileChart({{ json_data|safe }})
    });
</script>

<section id="profile">
    <div class="profilechart">
        <canvas id="profile-canvas" height="70"></canvas>
    </div>
</section>
<section id="profileuser" data-user_id="{{ object.id }}">
    <div class="profile-avatar{% if object.is_vip %} uservip{% endif %}"><img src="{{ object.get_avatar_url }}"/></div>
    <div class="nickname"><h1>{{ object.name }}{% if object.is_vip %}<span class="nickvip">VIP</span>{% endif %}</h1></div>
</section>

{% userstats object overall_rank month_rank week_rank %}

<section id="bet-desc" class="astable">
    <div class="lewa">
        <p>{{ object.description }}</p>
    </div>
    <div class="prawa user-social">
        {% if object.twitter_user %}
        <div class="sm-tt">
            <a href="https://twitter.com/{{ object.twitter_user }}">
                <div class="sm-bg tt"></div>
                <span>@{{ object.twitter_user }}</span>
            </a>
        </div>
        {% endif %}

        {% if object.facebook_user %}
        <div class="sm-fb">
            <a href="https://www.facebook.com/{{ object.facebook_user }}">
                <div class="sm-bg fb"></div>
                <span>{{ object.name }}</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>

<section id="userinfo" class="hotbets prefooter-margin">
    <ul class="tabs lewa">
        <li class="active"><a href="#zawartoscportfela">Zawartość portfela</a></li>
        <li><a href="#powiadomieniaowynikach">Powiadomienia o wynikach</a></li>
        <li><a href="#historiatransakcji">Historia transakcji</a></li>
    </ul>
    <div class="clr"></div>
    <div class="zakladki-content">
        <article id="zawartoscportfela">
            {% for bet in object.bets.get_in_progress %}
            <div class="betinwallet betresult new">
                <a href="{{ bet.event.get_relative_url }}">
                    <img src="{{ STATIC_URL }}{{ bet.event.small_image }}"/>
                    <div class="status">
                        <h3 class="skroc">{{ bet.event }}</h3>
                        <p><span class="betdetails">Zakład:</span> <span class="{% if bet.outcome %}changeYES{% else %}changeNO{% endif %}">{% if bet.outcome %}TAK{% else %}NIE{% endif %}</span> {{ bet.has }} x <span class="reputy-small"></span> {{ bet.bought_avg_price|formatted }} <span class="why">(aktualna cena: {{ bet.current_event_price }})</span></p>
                        <p class="detailed-status"><span class="invested">{{ bet.get_invested|formatted }}</span> <span class="maywin">{{ bet.get_won|formatted }}</span> <span class="inwallet">{{ bet.get_wallet_change|formatted:"True" }}</span></p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </article>

        <article id="powiadomieniaowynikach">
            {% for bet in object.bets.get_finished %}
            <div class="notinwallet betresult{% if bet.is_new_resolved %} new{% endif %}"><a data-bet_id="{{ bet.id }}" href="{{ bet.event.get_relative_url }}">
                    {% if bet.event.small_image %}
                    <img src="{{ bet.event.small_image.url }}" style="width: 128px; height: 100px;"/>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/bet-plain.jpg"/>
                    {% endif %}
                    {% render_bet_status bet %}
                    <div class="status-explanation">
                        <span>skrócone uzasadnienie wyniku:</span>
                        {{ bet.event.outcome_reason }}
                    </div>
                    <div class="status-change">
                        zysk/strata:
                        <div class="{% if bet.is_won %}changeYES{% else %}changeNO{% endif %}">{{ bet.get_wallet_change|formatted:"True" }}</div>
                        <p><span class="invested">{{ bet.get_invested|formatted }}</span> <span class="won">{{ bet.get_won|formatted }}</span></p>
                    </div>
            </a></div>
            {% endfor %}
        </article>

        <article id="historiatransakcji">
            <div id="transactions-list">
                {% for transaction in user_transactions|slice:":50" %}
                <div class="history-event">
                    <span class="skroc lewa {# changeYES changeNO #}">{{ transaction.event.title }}</span>
                    <div class="prawa">
                        <span class="history-action">{{ transaction.get_type_display|upper }}</span>
                        <span class="reputy-change {% if transaction.price > 0 %}changeYES{% else %}changeNO{% endif %}"><span class="reputy-small"></span>{{ transaction.total|formatted:"True" }}</span>
                        <span class="event-date">{{ transaction.date }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if object.transactions.all.count > 50 %}
                <a id="loadmore"><div class="btn astable">Pokaż starsze transakcje</div></a>
            {% endif %}
        </article>
    </div>
</section>

{% endblock %}
