{% extends "base.html" %}

{% load display %}
{% load path %}

{% block content %}

<script type="text/javascript">
    $(function(){
        var EVENTS_DATA = {{ json_data|safe }};
        if(renderCharts) {
            renderCharts(EVENTS_DATA);
        }
    });
</script>

<section id="header"  class="body-margin">
    <h2>Wydarzenia</h2>
    <ul class="tabs prawa">
        <li {% if active == "popular" %} class="active"{% endif %}><a href="/events/">Najpopularniejsze</a></li>
        <li {% if active == "last-minute" %} class="active"{% endif %}><a href="/events/last-minute">Ostatnia szansa</a></li>
        <li {% if active == "changed" %} class="active"{% endif %}><a href="/events/changed">Największe zmiany</a></li>
        <li {% if active == "latest" %} class="active"{% endif %}><a href="/events/latest">Najnowsze</a></li>
    </ul>
</section>


<section id="betfeed">
    {% render_events events %}
</section>

{% endblock %}
