{% extends "base.html" %}

{% load display %}
{% load path %}
{% load static %}

{% block js_scripts %}
<script type="text/javascript" src="{% static 'js/intro/scenario-wydarzenia.js' %}"></script>

<script type="text/javascript" src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints/infinite.min.js' %}"></script>

<script type="text/javascript">
$(function() {
    new Waypoint.Infinite({
        element: $('#betfeed')[0],
        items: '.event-item',
        more: '.event-more-link',
        onBeforePageLoad: function() {
            $("#loadmore .btn").text("Ładowanie...")
        },
        onAfterPageLoad: function() {
            $("#loadmore .btn").text("Wyświetl więcej zakładów")
            preloadImages();
            $('.skroc').dotdotdot();
            renderCharts();
        }
    });
});
</script>
{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
{#    var EVENTS_DATA = {{ json_data|safe }};#}
{#    if (renderCharts) {#}
{#        renderCharts(EVENTS_DATA);#}
{#    }#}
});
</script>

<section id="header"  class="body-margin">
    <h2>Wydarzenia</h2>
    <ul class="tabs prawa">
        <li {% if active == "popular" %} class="active"{% endif %}><a href="{% url 'events:events' mode='popular' %}">Najpopularniejsze</a></li>
        <li {% if active == "last-minute" %} class="active"{% endif %}><a href="{% url 'events:events' mode='last-minute' %}">Kończące się</a></li>
        <li {% if active == "changed" %} class="active"{% endif %}><a href="{% url 'events:events' mode='changed' %}">Największe zmiany</a></li>
        <li {% if active == "latest" %} class="active"{% endif %}><a href="{% url 'events:events' mode='latest' %}">Najnowsze</a></li>
    </ul>
</section>

<section id="betfeed">
    {% render_events events %}
</section>

{% if page_obj.has_next %}
<section id="loadmore">
    <a href="?page={{ page_obj.next_page_number }}" class="event-more-link"><div class="btn astable">Wyświetl więcej zakładów</div></a>
    <div class="more lewa"></div>
    <div class="more prawa"></div>
    <div class="more centrum"></div>
</section>
{% endif %}

{% endblock %}
