{% load display %}
{% load format %}
{% load humanize %}
<div class="bet{{ event|outcome }}">
    <figure>
        {% if event.small_image %}
        <div style="background: url({{ event.small_image.url }}); background-size: cover; min-height: 250px;"></div>
        {% else %}
        <img src="{{ STATIC_URL }}img/bet-plain.jpg"/>
        {% endif %}
        <figcaption>
            <a href="{{ event.get_relative_url }}">
                <div class="details-chart">
                    <div style="
                        display: block;
                        z-index: 10000;
                        position: absolute;
                        color: rgba(255,255,255,0.8);
                        top: 10px;
                        left: 10px;">
                        Rozwiązanie {{ event.estimated_end_date|naturaltime }}
                    </div>
                    <canvas class="bet-{{ event.id }}-canvas" height="70"></canvas>
                </div>
            </a>
            <div class="change changepreview {% if event.price_change > 0 %}changeYES{% elif event.price_change < 0 %}changeNO{% endif %}">{{ event.price_change|formatted:"True" }}</div>
            <a href="{{ event.get_relative_url }}"><h2 class="skroc">{{ event.title }}</h2></a>
            <div id="makeabet" {% if bet.has_any %} class="morebets" {% endif %} >
                {% render_bet event bet True %}
            </div>
        </figcaption>
    </figure>
</div>
