{% load format %}
<a href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betYES" data-event_id="{{ event.id }}" data-buy="{{ bet.buyYES }}" data-outcome="{{ bet.outcomeYES }}" data-price="{{ bet.priceYES }}">
    <div class="betYES">
        <span class="value lewa">{{ bet.priceYES }}</span><span class="txt prawa">{{ bet.textYES }}</span>
    </div>
</a>
<a href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betNO" data-event_id="{{ event.id }}" data-buy="{{ bet.buyNO }}" data-outcome="{{ bet.outcomeNO }}" data-price="{{ bet.priceNO }}">
    <div class="betNO">
        <span class="value prawa">{{ bet.priceNO }}</span><span class="txt lewa">{{ bet.textNO }}</span>
    </div>
</a>
<div class="currentbet centrum" {% if not bet.has_any or not render_current %}hidden{% endif %}>
    <p class="change{{ bet.classOutcome }}">
        {{ bet.textOutcome }}
    </p>
    <p>
        <span class="has_bets">{{ bet.has }}</span> x <span class="reputy-small"></span> <span class="bought_avg_price">{{ bet.avgPrice|formatted }}</span>
    </p>
</div>
