{% load display %}
<div class="bet">
    <figure>
        {% if event.small_image %}
        <img src="{{ event.small_image.url }}" width={{ config.SMALL_EVENT_IMAGE_WIDTH }} height={{ config.SMALL_EVENT_IMAGE_HEIGHT }} />
        {% else %}
        <img src="{{ STATIC_URL }}img/bet-plain.jpg"/>
        {% endif %}
        <figcaption>
            <a href="{{ event.get_relative_url }}"><div class="details-chart"><canvas class="bet-{{event.id}}-canvas" height="70"></canvas></div></a>
        <div class="change changepreview changeNO">-19</div>
        <a href="{{ event.get_relative_url }}"><h2 class="skroc">{{ event.title }}</h2></a>
        <div id="makeabet" {% if bet.has_any %} class="morebets" {% endif %} >
            {% render_bet event bet True %}
        </div>
        </figcaption>
    </figure>
</div>
