{% load display %}
{% load format %}
{% load humanize %}
{% load static %}
<div class="event-item bet{{ event|outcome }}">
    <figure>
        <a href="{{ event.get_relative_url }}">
            {% if event.small_image %}
            <div class="image" data-preload-url="{{ event.small_image.url }}" style="background: #fff url('{% static 'img/Loading_icon.gif' %}') no-repeat center; min-height: 250px;"></div>
            {% else %}
            <img src="{% static 'img/bet-plain.jpg' %}"/>
            {% endif %}
        </a>
        <figcaption>
            <a href="{{ event.get_relative_url }}">
                <div class="details-chart">
                    <div style="
                        display: block;
                        z-index: 1000;
                        position: absolute;
                        color: rgba(255,255,255,0.8);
                        top: 10px;
                        left: 10px;">
                        {% render_finish_date event %}
                    </div>
                    <canvas class="event-canvas" id="event-{{ event.id }}-canvas" height="70" data-id="{{ event.id }}" data-chart="{{ event.get_JSON_small_chart }}"></canvas>
                </div>
            </a>
            {% if event.is_in_progress %}
            <a href="{{ event.get_relative_url }}"><h2 class="skroc">{{ event.title }}</h2></a>
            {% else %}
                {% if event.outcome == 2 %}
                <a href="{{ event.get_relative_url }}">
                    <h3>Anulowane</h3>
                    <h2 class="skroc">
                        {{ event.title }}
                    </h2>
                </a>
                {% elif event.outcome == 3 %}
                <a href="{{ event.get_relative_url }}">
                    <h3>Wydarzyło się</h3>
                    <h2 class="skroc">
                        {{ event.title }}
                    </h2>
                </a>
                {% elif event.outcome == 4 %}
                <a href="{{ event.get_relative_url }}">
                    <h3>Nie wydarzyło się</h3>
                    <h2 class="skroc">
                        {{ event.title }}
                    </h2>
                </a>
                {% endif %}
            {% endif %}
                <div id="makeabet" {% if bet.has_any %} class="morebets" {% endif %} >
                    {% render_bet event bet True %}
                </div>
        </figcaption>
    </figure>
</div>
