{% import 'macros.html' as macros with context %}

<html class="no-js" ng-app="politikon">
    <head>
        <meta charset="utf-8">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/politikon.scss' %}" type="text/x-scss" charset="utf-8">
        {% endcompress %}

        {% block css_includes %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <header>
                <h1>POLITIKON</h1>
            </header>

            <div class="content" data-bind="with: appDataStore">
                {% block content %}
                {% endblock %}
            </div>

            <footer></footer>
        </div>

        <div id="fb-root"></div>        

        {% compress js %}
        <script type="text/javascript" src="{% static 'js/libs/jquery-1.9.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/knockout-2.2.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/bootstrap.js' %}"></script>
        <script type="text/coffeescript" src="{% static 'js/app.coffee' %}"></script>
        {% endcompress %}

        {% block js_includes %}{% endblock %}

        <script type="text/javascript">
            {% block script %}{% endblock %}

            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());

            window.fbAsyncInit = function() {
                FB.init({appId: '{{ settings.FACEBOOK_APPLICATION_ID }}', status: true, cookie: true, xfbml: true});

                FB.Canvas.setSize({
                    width: $('body').outerWidth(true),
                    height: $('body').outerHeight(true)
                });
                FB.Canvas.setAutoGrow(true);

                {% block script_facebook_on_load %}{% endblock %}
            }

            $(document).ready(function() {
                {% block initial_data %}
                    var initialData = {
                        user: {{ request.user.statistics_dict|jsonify }}
                    };
                {% endblock %}
                appDataStore = new AppDataStore(initialData);
                ko.applyBindings(appDataStore);

                {% block script_document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>