{% load path %}

<!DOCTYPE html>
<html lang="pl">

<head>
<link href='https://fonts.googleapis.com/css?family=Exo+2:400,400italic,500,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<title>POLITIKON - Stawiamy na politykę!</title>
<meta charset="utf-8" />
<meta name="author" content="Klub Jagielloński" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="icon" href=favicon.ico sizes="16x16 32x32 48x48 64x64" type=image/vnd.microsoft.icon>
<meta name="viewport" content="width=device-width">


<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/rwd.css" type="text/css" />

<!--css dla zalogowanego-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jscrollpane.css" type="text/css" />

<!-- IntroJs styles -->
<link href="{{ STATIC_URL }}css/introjs.min.css" rel="stylesheet">

<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/02reputysmall.png" />

<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/j24IE.css" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<!-- ^^ wsparcie dla IE pod http://code.google.com/p/ie7-static/js/ -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<!--<script src="static/js/skrypty.js"></script>-->

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/Chart.min.js"></script>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/noty/layouts/topRight.js"></script>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/actions.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/charts/betfeed_featured.js"></script>

{% if not user.is_authenticated %}
<!--skrypty dla goscia-->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/guest.js"></script>
<!--WALIDACJA FORMULARZA-->
<script src="{{ STATIC_URL }}js/walidacja/parsley.min.js"></script>
{% else %}
<!--skrypty dla zalogowanego-->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/loggedin.js"></script>
<!-- the mousewheel plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scroll-startstop.events.jquery.js"></script>
{% endif %}
</head>


<body id="POLITIKON">
<div class="overlay"></div>

{% if not user.is_authenticated %}
{% include 'not_logged_in.html' %}
{% endif %}

<div id="body-wrapper">
    <section id="maintop" class="section-nopadding">
        <div class="logo lewa">
            <a href="/"><div></div></a>
        </div>
        <nav class="astable lewa">
            <div class="burger"></div>
            <ul class="mainmenu">
                <div class="arrowup"></div>
                <a href="javascript:void(0);" onclick="startIntro();" class="intro-start"><li>Jak grać?</li></a>
                <a href="/events/"><li {% if request.path|startswith:"/events/" %} class="active"{% endif %}>Wydarzenia</li></a>
                <a href="{% url 'accounts:rank' %}"><li>Rankingi</li></a>
            </ul>
        </nav>

        {% if not user.is_authenticated %}
        <div class="graj prawa">
            <a href="#"><div class="prawa show-login">GRAJ!</div></a>
        </div>

        <div class="socialmedia prawa">
            <a href="{% url 'social:begin' 'twitter' %}"><div class="sm-bg tt"></div></a>
            <a href="{% url 'social:begin' 'facebook' %}"><div class="sm-bg fb"></div></a>
            {#<a href="{% url 'social:begin' 'google' %}"><div class="sm-bg gp"></div></a>#}
        </div>
        {% else %}
        {% include 'logged_in.html' %}
        {% endif %}

    </section>

    {% block content %}{% endblock %}

    <footer>
        <div class="lewa">

            <ul>
                <h5>Politikon</h5>
                <li><a href="javascript:void(0);" onclick="startIntro();">Jak grać?</a></li>
                <li><a href="{% url 'events:events' %}">Wydarzenia</a></li>
                <li><a href="{% url 'accounts:rank' %}">Rankingi</a></li>
            </ul>
            <ul>
                <li><a href="#">Regulamin</a></li>
                <li><a href="#">Reklama</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <ul>
                <h5>Partnerzy</h5>
                <li><a href="http://osomstudio.com/en/">OSoM</a></li>
                <li><a href="http://jagiellonski24.pl/">jagielloński24</a></li>
                <li><a href="http://vivente.pl/">vivente!</a></li>
            </ul>
        </div>
        <div class="prawa">
            <div class="socialmedia prawa">
                <a href="http://twitter.com/"><div class="tt lewa"></div></a>
                <a href="http://facebook.com/"><div class="fb lewa"></div></a>
                {#<a href="http://plus.google.com/"><div class="gp lewa"></div></a>#}
            </div>
            <a href="http://www.kj.org.pl/"><div class="kj prawa"><h5>Klub Jagielloński</h5>www.kj.org.pl</div></a>
        </div>
        <div class="logo centrum"></div>
    </footer>
</div>

<!--jak grac-->
<script type="text/javascript" src="{{ STATIC_URL }}js/intro/intro.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/intro/scenario-guest.js"></script>

</body>
</html>
