{% extends "base.html" %}

{% load display %}
{% load format %}
{% load humanize %}
{% load static %}
{% load user %}

{% block facebook_properties %}
{{ block.super }}
<meta property="og:image" content="{{ front_event.small_image.url }}" />
{% for event in featured_events %}
<meta property="og:image" content="{{ event.small_image.url }}" />
{% endfor %}
{% endblock %}

{% block js_scripts %}
{% if not user.is_authenticated %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/intro/scenario-guest.js"></script>
{% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/intro/scenario-user.js"></script>
{% endif %}
{% endblock %}


{% block content %}
    <section id="featured" class="section-nopadding">
        <figure>
            <a href="{{ front_event.get_relative_url }}">
                {% if front_event.big_image %}
                <div class="image" data-preload-url="{{ front_event.big_image.url }}" style="background: #fff url('{% static 'img/Loading_icon.gif' %}') no-repeat center; height: 70vh; min-height: 200px;"></div>
                {% else %}
                <img src="{{ STATIC_URL }}img/featured.jpg"/>
                {% endif %}
            </a>
            <figcaption>
                <a href="{{ front_event.get_relative_url }}">
                    <div class="details">
                        <div style="
                            display: block;
                            z-index: 10000;
                            position: absolute;
                            color: rgba(255,255,255,0.8);
                            top: 10px;
                            left: 10px;">
                            Rozwiązanie {{ front_event.estimated_end_date|naturaltime }}
                        </div>
                        <div>
                            <canvas id="featured-canvas" height="70" data-id="{{ front_event.id }}" data-chart="{{ front_event.get_JSON_big_chart }}"></canvas>
                        </div>
                    </div>
                </a>
                <div class="opis">
                    <a href="{{ front_event.get_relative_url }}"><h1 class="skroc lewa">{{ front_event.title }}</h1></a>
                    <div id="makeabet" class="prawa collapsible{% if front_event_bet.extension.has_any %} morebets{% endif %}">
                        {% render_bet front_event front_event_bet.extension True %}
                    </div>
                </div>
            </figcaption>
        </figure>
    </section>

    <section id="betfeed" class="padding-bottom">
        {% render_events featured_events %}
    </section>

    <section id="betfeed" class="hotbets">
        <h3 class="orangeheader goupheader">Kończące się <div class="prawa hotbet-icon"></div></h3>
        <div>
            {% render_events last_minute_events %}
        </div>
    </section>

    <section id="ranking-short">
        <h3 class="orangetxt lewa">Najlepsi gracze</h3>
        <ul class="tabs prawa">
            <li class="active"><a href="#tydzien">Tydzień</a></li>
            <li><a href="#miesiac">Miesiąc</a></li>
            <li><a href="#calosc">Całość</a></li>
        </ul>
        <div class="clr"></div>
        <div id="userrank_content" class="zakladki-content">
            <article id="tydzien">
                {% for user in best_weekly %}
                {% user_home user user.weekly_result True %}
                {% endfor %}
            </article>
            <article id="miesiac">
                {% for user in best_monthly %}
                {% user_home user user.monthly_result True %}
                {% endfor %}
            </article>
            <article id="calosc">
                {% for user in best_overall %}
                {% user_home user user.reputation %}
                {% endfor %}
            </article>
        </div>
    </section>

    <section id="loadmore">
        <a href="{% url 'events:events' %}"><div class="btn astable">Wyświetl więcej zakładów</div></a>
        <div class="more lewa"></div>
        <div class="more prawa"></div>
        <div class="more centrum"></div>
    </section>


{% endblock %}
