{% extends "base.html" %}

{% load display %}

{% block content %}

    <script type="text/javascript">
        $(function () {
            var EVENTS_DATA = {{ json_data.events|safe }};
            var FEATURED_EVENT_DATA = {{ json_data.front_event|safe }};
            if(renderCharts) {
                renderCharts(EVENTS_DATA, FEATURED_EVENT_DATA);
            }
        });
    </script>

    <section id="featured" class="section-nopadding">
        <figure>
            {% if front_event.big_image %}
            <div style="background: url({{ front_event.big_image.url }}); height: 70vh; min-height: 200px; background-size: cover">

            </div>
            {% else %}
            <img src="{{ STATIC_URL }}img/featured.jpg"/>
            {% endif %}
            <figcaption>
            <a href="{{ front_event.get_relative_url }}">
                <div class="details">
                    <div>
                        <canvas id="featured-canvas" height="70"></canvas>
                    </div>
                </div>
            </a>
            <div class="opis">
                <a href="{{ front_event.get_relative_url }}"><h1 class="skroc lewa">{{ front_event.title }}</h1></a>
                <div id="makeabet" class="prawa collapsible{% if front_event_bet.extension.has_any %} morebets{% endif %}">
                    <div class="change{% if front_event.price_change > 0 %} changeYES{% elif front_event.price_change < 0 %} changeNO{% endif %}{% if front_event_bet.extension.has_any %} hidden{% endif %}">{{ front_event.price_change }}</div>
                    {% render_bet front_event front_event_bet.extension True %}
                </div>
            </div>
            </figcaption>
        </figure>
    </section>

    <section id="betfeed">
        {% render_events featured_events people %}
    </section>

    <section id="betfeed" class="hotbets">
        <h3 class="orangeheader goupheader">Największe zmiany <div class="prawa hotbet-icon"></div></h3>
        <div>
            {% render_events popular_events people %}
        </div>
    </section>

    <section id="ranking-short">
        <h3 class="orangetxt lewa">Najlepsi gracze</h3>
        <ul class="tabs prawa">
            <li class="active"><a href="#tydzien">Tydzień</a></li>
            <li><a href="#miesiac">Miesiąc</a></li>
            <li><a href="#calosc">Całość</a></li>
        </ul>
        <div class="clr"></div>
        <div id="userrank_content" class="zakladki-content">

            <article id="tydzien">
                {% for user in users %}
                <div class="userrank{% if user.is_vip %} uservip{% endif %}">
                    <a href="{{ user.get_absolute_url }}">
                        <div class="image" style="background-image: url({{ user.get_avatar_url }});"></div>
                        <div class="wolnereputy"><span class="astable">{{ user.reputation_formatted }}</span></div>
                        <div class="username">{{ user.name|truncatechars:12 }}</div>
                    </a>
                </div>
                {% endfor %}
            </article>
        </div>
    </section>


    <section id="loadmore">
        <a href="{% url 'events:events' %}"><div class="btn astable">Wyświetl więcej zakładów</div></a>
        <div class="more lewa"></div>
        <div class="more prawa"></div>
        <div class="more centrum"></div>
    </section>

{% endblock %}
