{% extends "base.html" %}


{% block content %}

	<section id="featured" class="section-nopadding">
		<figure>
			{% if front_event.big_image %}
			<img src="{{ front_event.big_image.url }}" width={{ config.BIG_EVENT_IMAGE_WIDTH }} height={{ config.BIG_EVENT_IMAGE_HEIGHT }} />
			{% else %}
			<img src="static/img/featured.jpg"/>
			{% endif %}
			<figcaption>
				<a href="#"><div class="details"><canvas id="featured-canvas" height="70"></canvas></div></a>
				<div class="opis">
					<a href="#"><h1 class="skroc lewa">{{ front_event.title }}</h1></a>
					<div id="makeabet" class="prawa">
						<div class="change changeYES">+21</div>
						<a href="#TAK"><div class="betYES"><span class="value lewa">36</span><span class="txt prawa">TAK</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">61</span><span class="txt lewa">NIE</span></div></a>
					</div>
				</div>
			</figcaption>
		</figure>
	</section>
	
	<section id="betfeed">
		{{macros.render_events(featured_events, people)}}

		<div class="bet">
			<figure>
				<img src="static/img/bet-plain.jpg"/>
				<figcaption>
					<a href="#"><div class="details-chart"><canvas id="bet-canvas01" height="70"></canvas></div></a>
					<div class="change changepreview changeNO">-19</div>
					<a href="#"><h2 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</h2></a>
					<div id="makeabet" class="morebets">
						<a href="#TAK"><div class="betYES"><span class="value lewa">15</span><span class="txt prawa">+</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">72</span><span class="txt lewa">-</span></div></a>
						<div class="currentbet centrum">
							<p class="changeYES">TAK</p>
							<p>5 x <span></span> 48</p>
						</div>
					</div>
					
				</figcaption>
			</figure>
		</div>
		
		<div class="bet">
			<figure>
				<img src="static/img/bet-plain.jpg"/>
				<figcaption>
					<a href="#"><div class="details-chart"><canvas id="bet-canvas02" height="70"></canvas></div></a>
					<div class="change changepreview changeNO">-19</div>
					<a href="#"><h2 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</h2></a>
					<div id ="makeabet">
						<div class="change changeNO">-19</div>
						<a href="#TAK"><div class="betYES"><span class="value lewa">15</span><span class="txt prawa">TAK</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">72</span><span class="txt lewa">NIE</span></div></a>
					</div>
					
				</figcaption>
			</figure>
		</div>

	</section>
	
	
	
	<section id="betfeed" class="hotbets">
		<h3 class="orangeheader goupheader">Największe zmiany <div class="prawa hotbet-icon"></div></h3>
		<div>
		<div class="bet">
			<figure>
				<img src="static/img/bet-plain.jpg"/>
				<figcaption>
					<a href="#"><div class="details-chart"><canvas id="bet-canvas07" height="70"></canvas></div></a>
					<div class="change changepreview changeNO">-19</div>
					<a href="#"><h2 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</h2></a>
					<div id ="makeabet">
						<div class="change changeNO">-19</div>
						<a href="#TAK"><div class="betYES"><span class="value lewa">15</span><span class="txt prawa">TAK</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">72</span><span class="txt lewa">NIE</span></div></a>
					</div>
					
				</figcaption>
			</figure>
		</div>
		
		<div class="bet">
			<figure>
				<img src="static/img/bet-plain.jpg"/>
				<figcaption>
					<a href="#"><div class="details-chart"><canvas id="bet-canvas08" height="70"></canvas></div></a>
					<div class="change changepreview changeNO">-19</div>
					<a href="#"><h2 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</h2></a>
					<div id ="makeabet">
						<div class="change changeNO">-19</div>
						<a href="#TAK"><div class="betYES"><span class="value lewa">15</span><span class="txt prawa">TAK</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">72</span><span class="txt lewa">NIE</span></div></a>
					</div>
					
				</figcaption>
			</figure>
		</div>
		
		<div class="bet">
			<figure>
				<img src="static/img/bet-plain.jpg"/>
				<figcaption>
					<a href="#"><div class="details-chart"><canvas id="bet-canvas09" height="70"></canvas></div></a>
					<div class="change changepreview changeNO">-19</div>
					<a href="#"><h2 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</h2></a>
					<div id ="makeabet">
						<div class="change changeNO">-19</div>
						<a href="#TAK"><div class="betYES"><span class="value lewa">15</span><span class="txt prawa">TAK</span></div></a>
						<a href="#NIE"><div class="betNO"><span class="value prawa">72</span><span class="txt lewa">NIE</span></div></a>
					</div>
					
				</figcaption>
			</figure>
		</div>
		</div>
	</section>
	
	<section id="ranking-short">
		<h3 class="orangetxt lewa">Najlepsi gracze</h3>
		<ul class="tabs prawa">
			<li><a href="#tydzien">Tydzień</a></li>
			<li><a href="#miesiac">Miesiąc</a></li>
			<li><a href="#calosc">Całość</a></li>
		</ul>
		<div class="clr"></div>
		<div class="zakladki-content">
			<article id="tydzien">
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
			</article>
				
			<article id="miesiac">
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
			</article>
			
			<article id="calosc">
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
				<div class="userrank uservip">
					<a href="#">
					<img src="static/img/blank-avatar.jpg"/>
					<div class="wolnereputy"><span class="astable">1 235</span></div>
					<div class="username">Andrzej Kowalski</div>
					</a>
				</div>
			</article>
		</div>
	</section>
	
	
	<section id="loadmore">
		<a href="#"><div class="btn astable">Wyświetl więcej zakładów</div></a>
				<div class="more lewa"></div>
				<div class="more prawa"></div>
				<div class="more centrum"></div>

	</section>
	
{% endblock %}