		<div class="graj avatar prawa">
			<img src="{{ user.get_avatar_url }}" />
			<nav class="avatarmenu">
			<ul>
				<div class="arrowup"></div>
				<a href="{% url 'accounts:user_profile' %}"><li>{{ user.full_name }}</li></a>
                <a href="{% url 'accounts:user_settings' %}"><li>Ustawienia</li></a>
                <a href="{% url 'accounts:logout' %}"><li>Wyloguj</li></a>
			</ul>
		</nav>
		</div>

		<div class="userdata prawa">
			<div class="lewa wallet notification"> <!--klasa .notification dodawana przy powiadomieniach (wtedy,gdy klasa .wallet zawiera span)-->
				{% if user.get_newest_results.count %}
                    <span id="wallet_notification_count">{{ user.get_newest_results.count }}</span>
                {% endif %}
				<div class="arrowup"></div>
			</div>

			<a href="#">
			<div class="lewa stats">
				<p>wartość portfela</p>
				<p class="walletvalue">{{ user.portfolio_value }}</p>
			</div>
			</a>

			<a href="#">
			<div class="lewa stats">
				<p>wolne reputy</p>
				<p class="freevalue">{{ user.total_cash_formatted }}</p>
			</div>
			</a>

			<a href="#">
			<div class="lewa stats">
				<p>reputacja</p>
				<p class="reputationvalue">{{ user.reputation }}%</p>
			</div>
			</a>
		</div>

<section id="wallet-not" class="centrum">
    <div class="container">
        <div class="inside">
            <div class="header">
                Najnowsze wyniki
                <a id="all-bets-result" href="#"><span>Oznacz wszystkie jako przeczytane</span></a>
            </div>
            <div id="jp-container" class="jp-container">
                {% for bet in user.get_newest_results %}
                    <a class="a-betresult" data-bet_id="{{ bet.id }}" href="{{ bet.event.get_relative_url }}"><div class="betresult new">
                        {% if bet.event.small_image %}
                            <img src="{{ bet.event.small_image.url }}" style="width: 128px; height: 100px;"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/bet-plain.jpg"/>
                        {% endif %}
                        <div class="status">
                            <h3 class="skroc">{{ bet.event }}</h3>
                            <p><span class="betdetails">Zakład:</span> <span class="{% if bet.outcome %}changeYES{% else %}changeNO{% endif %}">{% if bet.outcome %}TAK{% else %}NIE{% endif %}</span> {{ bet.has }} x <span class="reputy-small"></span> {{ bet.bought_avg_price }}</p>
                            <p><span class="betdetails">Wynik:</span> <span class="{% if bet.event.outcome == 3 %}changeYES{% elif bet.event.outcome == 4 %}changeNO{% endif %}">{% if bet.event.outcome == 2 %}ANULOWANE{% elif bet.event.outcome == 3 %}TAK{% elif bet.event.outcome == 4 %}NIE{% endif %}</span></p>
                        </div>
                        <div class="status-change">
                            zmiana portfela:
                            <div class="{% if bet.is_won %}changeYES{% else %}changeNO{% endif %}">{{ bet.get_wallet_change }}</div>
                            <p><span class="invested">{{ bet.get_invested }}</span> <span class="won">{{ bet.get_won }}</span></p>
                        </div>
                    </div></a>
                {% endfor %}
            </div>
            <a href="{% url 'accounts:user_profile' %}#powiadomieniaowynikach"><div class="viewall">Wyświetl wszystkie wyniki</div></a>
        </div>
    </div>
</section>
