		<div class="graj avatar prawa">
            {% if request.user.avatarURL %}
			<img src="{{ request.user.avatarURL }}" />
            {% else %}
            <img src="img/blank-avatar.jpg"/>
            {% endif %}
			<nav class="avatarmenu">
			<ul>
				<div class="arrowup"></div>
				<a href="#"><li>{{ request.user.full_name }}</li></a>
				<a href="#"><li>Ustawienia</li></a>
				<a href="#"><li>Wyloguj</li></a>
			</ul>
		</nav>
		</div>

		<div class="userdata prawa">
			<div class="lewa wallet notification"> <!--klasa .notification dodawana przy powiadomieniach (wtedy,gdy klasa .wallet zawiera span)-->
				<span>3</span>
				<div class="arrowup"></div>
			</div>

			<a href="#">
			<div class="lewa stats">
				<p>wartość portfela</p>
				<p class="walletvalue">{{ request.user.portfolio_value_formatted }}</p>
			</div>
			</a>

			<a href="#">
			<div class="lewa stats">
				<p>wolne reputy</p>
				<p class="freevalue">{{ request.user.total_cash_formatted }}</p>
			</div>
			</a>

			<a href="#">
			<div class="lewa stats">
				<p>reputacja</p>
				<p class="reputationvalue">{{ request.user.reputation }}%</p>
			</div>
			</a>
		</div>

		<section id="wallet-not" class="centrum">
			<div class="container">
				<div class="inside">
					<div class="header">
						Najnowsze wyniki
						<a href="#"><span>Oznacz wszystkie jako przeczytane</span></a>
					</div>
					<div id="jp-container" class="jp-container">
						<a href="#"><div class="betresult new">
							<img src="img/bet-small.jpg"/>
							<div class="status">
								<h3 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
								<p><span class="betdetails">Zak≈Çad:</span> <span class="changeYES">TAK</span> 3 x <span class="reputy-small"></span> 60</p>
								<p><span class="betdetails">Wynik:</span> <span class="changeNO">NIE</span> <span class="why">(przeczytaj uzasadnienie)</span></p>
							</div>
							<div class="status-change">
								zmiana portfela:
								<div class="changeNO">-180</div>
								<p><span class="invested">180</span> <span class="won">0</span></p>
							</div>
						</div></a>
						<a href="#"><div class="betresult new">
							<img src="img/bet-small.jpg"/>
							<div class="status">
								<h3 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
								<p><span class="betdetails">Zak≈Çad:</span> <span class="changeYES">TAK</span> 3 x <span class="reputy-small"></span> 60</p>
								<p><span class="betdetails">Wynik:</span> <span class="changeYES">TAK</span> <span class="why">(przeczytaj uzasadnienie)</span></p>
							</div>
							<div class="status-change">
								zmiana portfela:
								<div class="changeYES">+180</div>
								<p><span class="invested">180</span> <span class="won">180</span></p>
							</div>
						</div></a>
						<a href="#"><div class="betresult new">
							<img src="img/bet-small.jpg"/>
							<div class="status">
								<h3 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
								<p><span class="betdetails">Zak≈Çad:</span> <span class="changeYES">TAK</span> 3 x <span class="reputy-small"></span> 60</p>
								<p><span class="betdetails">Wynik:</span> <span class="changeNO">NIE</span> <span class="why">(przeczytaj uzasadnienie)</span></p>
							</div>
							<div class="status-change">
								zmiana portfela:
								<div class="changeNO">-180</div>
								<p><span class="invested">180</span> <span class="won">0</span></p>
							</div>
						</div></a>
						<a href="#"><div class="betresult">
							<img src="img/bet-small.jpg"/>
							<div class="status">
								<h3 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
								<p><span class="betdetails">Zak≈Çad:</span> <span class="changeYES">TAK</span> 3 x <span class="reputy-small"></span> 60</p>
								<p><span class="betdetails">Wynik:</span> <span class="changeNO">NIE</span> <span class="why">(przeczytaj uzasadnienie)</span></p>
							</div>
							<div class="status-change">
								zmiana portfela:
								<div class="changeNO">-180</div>
								<p><span class="invested">180</span> <span class="won">0</span></p>
							</div>
						</div></a>
						<a href="#"><div class="betresult">
							<img src="img/bet-small.jpg"/>
							<div class="status">
								<h3 class="skroc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
								<p><span class="betdetails">Zak≈Çad:</span> <span class="changeYES">TAK</span> 3 x <span class="reputy-small"></span> 60</p>
								<p><span class="betdetails">Wynik:</span> <span class="changeNO">NIE</span> <span class="why">(przeczytaj uzasadnienie)</span></p>
							</div>
							<div class="status-change">
								zmiana portfela:
								<div class="changeNO">-180</div>
								<p><span class="invested">180</span> <span class="won">0</span></p>
							</div>
						</div></a>
					</div>
					<a href="#"><div class="viewall">Wy≈õwietl wszystkie wyniki</div></a>
				</div>
			</div>
		</section>