{% load display %}
{% load format %}

<div class="graj avatar prawa">
    <div class="image" style="background-image: url({{ user.get_avatar_url }});"></div>
    <nav class="avatarmenu">
        <ul>
            <li><a href="{% url 'accounts:user_profile' %}">Mój profil</a></li>
            <li><a href="{% url 'accounts:user_settings' %}">Ustawienia</a></li>
            <li><a href="{% url 'accounts:logout' %}">Wyloguj</a></li>
        </ul>
    </nav>
</div>

<div class="userdata prawa">
    {# <!--klasa .notification dodawana przy powiadomieniach (wtedy,gdy klasa .wallet zawiera span)--> #}
    <a href="{% if user.get_newest_results.count %}#{% else %}{% url 'accounts:user_profile' %}#zawartoscportfela{% endif %}">
        <div class="lewa wallet{% if user.get_newest_results.count %} notification{% endif %}">
            {% if user.get_newest_results.count %}
                <span id="wallet_notification_count">{{ user.get_newest_results.count }}</span>
            <div class="arrowup"></div>
        {% endif %}
        </div>
    </a>

    <a href="{% url 'accounts:user_profile' %}">
        <div class="lewa stats">
            <p>wartość portfela</p>
            <p class="walletvalue">{{ user.portfolio_value|formatted }}</p>
        </div>
    </a>

    <a href="{% url 'accounts:user_profile' %}">
        <div class="lewa stats">
            <p>wolne reputy</p>
            <p class="freevalue">{{ user.total_cash|formatted }}</p>
        </div>
    </a>

    <a href="{% url 'accounts:user_profile' %}">
        <div class="lewa stats">
            <p>reputacja</p>
            <p class="reputationvalue">{{ user.reputation|formatted }}%</p>
        </div>
    </a>
</div>

<section id="wallet-not" class="centrum">
    <div class="container">
        <div class="inside">
            <div class="header">
                najnowsze wyniki
                <a id="all-bets-result" href="#"><span>Oznacz wszystkie jako przeczytane</span></a>
            </div>
            <div id="jp-container" class="jp-container">
            {% for bet in user.get_newest_results %}
                <a class="a-betresult" data-bet_id="{{ bet.id }}" href="{{ bet.event.get_relative_url }}">
                    <div class="betresult new">
                    {% if bet.event.small_image %}
                        <div class="image" style="background-image: url({{ bet.event.small_image.url }});"></div>
                    {% else %}
                        <div class="image" style="background-image: url({{ STATIC_URL }}img/bet-plain.jpg);"></div>
                    {% endif %}
                        {% render_bet_status bet %}
                        <div class="status-change">
                            zysk/strata:
                            <div class="{% if bet.is_won %}changeYES{% else %}changeNO{% endif %}">{{ bet.get_wallet_change|formatted:"True" }}</div>
                            <p><span class="invested">{{ bet.get_invested|formatted }}</span> <span class="won">{{ bet.get_won|formatted }}</span></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <a href="{% url 'accounts:user_profile' %}#powiadomieniaowynikach" id="go-to-all-results"><div class="viewall">Wyświetl wszystkie wyniki</div></a>
        </div>
    </div>
</section>
