{% extends "base.html" %}

{% load display i18n path static %}

{% block js_scripts %}
<script type="text/javascript" src="{% static 'js/intro/scenario-wydarzenia.js' %}"></script>

{% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
{#    var EVENTS_DATA = {{ json_data|safe }};#}
{#    if (renderCharts) {#}
{#        renderCharts(EVENTS_DATA);#}
{#    }#}
});
</script>

<section id="header"  class="body-margin">
    <h2>{% trans 'Wydarzenia' %}</h2>
    <ul class="tabs prawa">
        <li {% if active == "popular" %} class="active"{% endif %}><a href="{% url 'events:events' mode='popular' %}">{% trans 'Najpopularniejsze' %}</a></li>
        <li {% if active == "last-minute" %} class="active"{% endif %}><a href="{% url 'events:events' mode='last-minute' %}">{% trans 'Kończące się' %}</a></li>
        <li {% if active == "changed" %} class="active"{% endif %}><a href="{% url 'events:events' mode='changed' %}">{% trans 'Największe zmiany' %}</a></li>
        <li {% if active == "latest" %} class="active"{% endif %}><a href="{% url 'events:events' mode='latest' %}">{% trans 'Najnowsze' %}</a></li>
        <li {% if active == "finished" %} class="active"{% endif %}><a href="{% url 'events:events' mode='finished' %}">{% trans 'Zakończone' %}</a></li>
        {% if user.is_authenticated and user.is_staff %}
        <li {% if active == "draft" %} class="active"{% endif %}><a href="{% url 'events:events' mode='draft' %}">{% trans 'Poczekalnia' %}</a></li>
        {% endif %}
    </ul>
{#    <div class="tabs prawa filters">#}
{#        sortuj według:#}
{#        <select>#}
{#            <option>popularności</option>#}
{#            <option>kończących się</option>#}
{#            <option>największych zmian</option>#}
{#            <option>najnowszych</option>#}
{#        </select>#}
{#    </div>#}
{#    Popularne tagi:#}
{#    <ul class="tabs prawa">#}
{#        {% for tag in popular_tags %}#}
{#          <li><a href="?tag={{ tag }}">{{ tag }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
    {% if user.is_authenticated %}
        <ul class="tabs prawa" style="margin-top:20px;">
            <li><a id="add-event-button" href="javascript:void(0);">{% trans 'Dodaj wydarzenie' %}</a></li>
        </ul>
    {% endif %}
</section>

<section id="betfeed">
    {% render_events events %}
</section>

{% if page_obj.has_next %}
<section class="loadmore">
    <a href="?page={{ page_obj.next_page_number }}" class="event-loadmore"><div class="btn astable">{% trans 'Wyświetl więcej zakładów' %}</div></a>
    <div class="more lewa"></div>
    <div class="more prawa"></div>
    <div class="more centrum"></div>
</section>
{% endif %}

{% endblock %}
