{% extends "base.html" %}

{% load display i18n path static %}

{% block js_scripts %}
<script type="text/javascript" src="{% static 'js/intro/scenario-wydarzenia.js' %}"></script>
{% endblock %}

{% block content %}
<section id="header"  class="body-margin">
    <h2>{% trans "Events" %}</h2>
    <div class="prawa">
        <ul class="tabs">
            <li {% if active == "popular" %} class="active"{% endif %}><a href="{% url 'events:events' mode='popular' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Most popular" %}</a></li>
            <li {% if active == "last-minute" %} class="active"{% endif %}><a href="{% url 'events:events' mode='last-minute' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Ending" %}</a></li>
            <li {% if active == "changed" %} class="active"{% endif %}><a href="{% url 'events:events' mode='changed' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Changes" %}</a></li>
            <li {% if active == "latest" %} class="active"{% endif %}><a href="{% url 'events:events' mode='latest' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Newest" %}</a></li>
            <li {% if active == "finished" %} class="active"{% endif %}><a href="{% url 'events:events' mode='finished' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Finished" %}</a></li>
            {% if user.is_authenticated and user.is_staff %}
            <li {% if active == "draft" %} class="active"{% endif %}><a href="{% url 'events:events' mode='draft' %}{% if query %}?q={{ query }}{% endif %}">{% trans "Anteroom" %}</a></li>
            {% endif %}
        </ul>
        <div class="clr"></div>
        <ul class="tabs">
        {% for category in categories %}
            <li {% if active == category.slug %} class="active"{% endif %}><a href="{% url 'events:events' category=category.slug %}{% if query %}?q={{ query }}{% endif %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
        <div class="search prawa">
            <form id="search-form" action="{% url 'events:events' mode='any' %}" method="get">
                <input class="searchbar" type="text" name="q" placeholder="{% trans "Type search phrase" %}" value="{{ query }}">
                <button class="big-button search-button" type="submit">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
{#    <div class="tabs prawa filters">#}
{#        sortuj według:#}
{#        <select>#}
{#            <option>popularności</option>#}
{#            <option>kończących się</option>#}
{#            <option>największych zmian</option>#}
{#            <option>najnowszych</option>#}
{#        </select>#}
{#    </div>#}
{#    Popularne tagi:#}
{#    <ul class="tabs prawa">#}
{#        {% for tag in popular_tags %}#}
{#          <li><a href="?tag={{ tag }}">{{ tag }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
</section>
<section id="betfeed">
    {% render_events object_list %}
</section>
{% if page_obj.has_next %}
<section class="loadmore">
    <a href="?q={{ query|default:"*" }}&page={{ page_obj.next_page_number }}" class="event-loadmore"><div class="btn astable">{% trans "show more events" %}</div></a>
    <div class="more lewa"></div>
    <div class="more prawa"></div>
    <div class="more centrum"></div>
</section>
{% endif %}

{% endblock %}
