{% load format i18n %}
{# NOTE: in this template variable 'bet' is a dictionary: 'bet_line', see models.Event.get_user_bet #}
<div id="makeabet" class="collapsible{% if bet.has > 0 %} morebets{% endif %}" >
{% if event.is_in_progress %}
    <a href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betYES" data-event_id="{{ event.id }}" data-buy="{{ bet.buyYES }}" data-outcome="{{ bet.outcome_str|default:'true' }}" data-price="{{ bet.priceYES }}">
        <div class="betYES">
            <span class="value lewa">{{ bet.priceYES }}</span>
            <span class="txt prawa">
            {% if bet.has > 0 %}
                {% if bet.outcome %}
                    {% trans "acquire more for" %} {% trans "YES" %}
                {% else %}
                    {% trans "sell share" %}
                {% endif %}
            {% else %}
                {% trans "YES" %}
            {% endif %}
            </span>
        </div>
    </a>
    <a href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betNO" data-event_id="{{ event.id }}" data-buy="{{ bet.buyNO }}" data-outcome="{{ bet.outcome_str|default:'false' }}" data-price="{{ bet.priceNO }}">
        <div class="betNO">
            <span class="value prawa">{{ bet.priceNO }}</span>
            <span class="txt lewa">
            {% if bet.has > 0 %}
                {% if bet.outcome %}
                    {% trans "sell share" %}
                {% else %}
                    {% trans "acquire more for" %} {% trans "NO" %}
                {% endif %}
            {% else %}
                {% trans "NO" %}
            {% endif %}
            </span>
        </div>
    </a>
    <div class="currentbet centrum" {% if bet.has == 0 %}hidden{% endif %}>
        <p class="change{% if bet.outcome %}YES{% else %}NO{% endif %}">
            {% trans "You predict" %} {% if bet.outcome %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}
        </p>
        <p>
            <span class="has_bets">{{ bet.has }}</span> x <span class="reputy-small"></span> <span class="bought_avg_price">{{ bet.avgPrice|formatted }}</span>
        </p>
    </div>
{% else %}
    {% if event.outcome == 2 %}
        <div href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betYES">
            <div class="betCANCELED">
                <span class="value lewa">0</span><span class="txt prawa">{% trans "Cancelled" %}</span>
            </div>
        </div>
    {% elif event.outcome == 3 %}
        <div href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betYES">
            <div class="betYES">
                <span class="value lewa">{{ bet.priceYES }}</span><span class="txt prawa">{% trans "Outcome:" %} {% trans "YES" %}</span>
            </div>
        </div>
    {% elif event.outcome == 4 %}
        <div href="#" class="{% if bet.is_user %}a_bet{% else %}show-login{% endif %} a_betNO">
            <div class="betNO">
                <span class="value prawa">{{ bet.priceNO }}</span><span class="txt lewa">{% trans "Outcome:" %} {% trans "NO" %}</span>
            </div>
        </div>
    {% endif %}
    <div class="currentbet centrum" >
        <p class="change{% if bet.outcome %}YES{% else %}NO{% endif %}">
            {% if bet.has == 0 %}
                {% trans "You didn't participate." %}
            {% else %}
                {% trans "You predicted:" %} {% if bet.outcome %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}
            {% endif %}
        </p>
        <p {% if bet.has == 0 %}hidden{% endif %}>
            <span class="has_bets">{{ bet.has }}</span> x <span class="reputy-small"></span> <span class="bought_avg_price">{{ bet.avgPrice|formatted }}</span>
        </p>
    </div>
{% endif %}
</div>
