{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/charts/profile.js"></script>
{% endblock %}

{% block content %}

{% include '/users/user_header.html' %}

	<section id="userinfo" class="hotbets prefooter-margin">
		<ul class="tabs lewa">
			<li><a href="#zawartoscportfela">Zawartość portfela</a></li>
			<li><a href="#historiatransakcji">Historia transakcji</a></li>
		</ul>
		<div class="clr"></div>
		<div class="zakladki-content">

			<article id="historiatransakcji">
                {% for t in transactions %}
                    <div class="history-event">
                        <span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
                        <div class="prawa">
                            <span class="history-action">{{t.type}}</span>
                            <span class="reputy-change"><span class="reputy-small"></span> -65</span>
                            <span class="event-date">{{t.date}}</span>
                        </div>
                    </div>

                {% endfor %}


				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">dzisiaj; 11:28</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa changeNO">[Tutaj przykładowy komunikat o systemowej stracie reputów]</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa">Tutaj przykładowy tytuł wydarzenia z historii użytkownika</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> -65</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>
				<div class="history-event">
					<span class="skroc lewa changeYES">[Tutaj przykładowy komunikat o systemowym zysku na koncie]</span>
					<div class="prawa">
						<span class="history-action">ZAKUP TAK</span>
						<span class="reputy-change"><span class="reputy-small"></span> +200</span>
						<span class="event-date">01-10-2014; 11:07</span>
					</div>
				</div>

				<a href="#" id="loadmore"><div class="btn astable">Pokaż starsze transakcje</div></a>
			</article>
		</div>
	</section>

{% endblock %}
